@using Microsoft.AspNetCore.Mvc.Localization
@inject LabM.Resource.LocService SL
@inject IViewLocalizer localizaer

@model string
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@SL.Loc("qumc")</h1>
    <a asp-action="index" asp-route-lang="en" class="btn btn-primary">en</a>
    <a asp-action="index" asp-route-lang="ar" class="btn btn-primary">ar</a>



    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a asp-controller="Requests" asp-action="Create" class="btn btn-primary">Create Request</a>
    <a asp-controller="Managements" asp-action="Edit" class="btn btn-primary">Management</a>
    <a asp-controller="Requests" asp-action="Index"> List</a>
</div>
