
@{
    ViewData["Title"] = "AddUserToRole";
}

<h1>AddUserToRole</h1>

<form>
    <label class="form-control">Email</label>
    <input name="email" type="text" />
    <label class="form-control">Role</label>
    <input name="roleSelected" type="text" />
    <button type="submit">Submit</button>
</form>